<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="blog" transaction-type="RESOURCE_LOCAL">

        <class>com.company.blog.entity.Publication</class>
        <class>com.company.blog.entity.Category</class>
        <class>com.company.blog.entity.Tag</class>
        <class>com.company.blog.entity.Author</class>
        <class>com.company.blog.entity.Comment</class>
        <class>com.company.blog.entity.Rate</class>
        <class>com.company.blog.entity.ExtUser</class>
    </persistence-unit>
</persistence>
