<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright 2020 CustomBlog
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="blog" transaction-type="RESOURCE_LOCAL">

        <class>com.pde.blog.entity.Publication</class>
        <class>com.pde.blog.entity.Category</class>
        <class>com.pde.blog.entity.Tag</class>
        <class>com.pde.blog.entity.Author</class>
        <class>com.pde.blog.entity.Comment</class>
        <class>com.pde.blog.entity.Rate</class>
        <class>com.pde.blog.entity.ExtUser</class>
    </persistence-unit>
</persistence>
